@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0%;
    padding:0;
}

form {

	margin-left: 10%;
	margin-right: 30%;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 30px
    
}
.wrapper {
  position: relative;
 
}

.fondo {
  position: absolute;
  top: -22px;
  left: 0;
  width: 165.90%;
  height: 640px;
  object-fit: cover;
  z-index: -1;
  margin-left: -135px;
	
  
}
.row{
  width: 50%;
  height: 500px;
  border-radius: 10px;
  background:#70717d9f;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
  position: absolute;
  margin-top: 72px;
  margin-left: 300px;
  text-align: center;
    font-size: 20px;
}


.mio {
    width: 293px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.boton {
    background-color: #1783db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
  *{
    margin: 0%;
    padding:0;
}

form {

	margin-left: 10%;
	margin-right: 30%;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 30px
    
}
.wrapper {
  position: relative;
 
}

.fondo {
  position: absolute;
  top: -22px;
  left: 0;
  width: 463.9%;
  height: 749px;
  object-fit: cover;
  z-index: -1;
  margin-left: -135px;
	
  
}
.row{
  width: 179%;
  height: 500px;
  border-radius: 10px;
  background:#70717d9f;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
  position: absolute;
  margin-top: 72px;
  margin-left: 100px;
  text-align: center;
    font-size: 20px;
}


.mio {
    width: 293px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.boton {
    background-color: #1783db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

}
